
/* Trix Editor */
trix-toolbar [data-trix-button-group="file-tools"] {
    display: none;
}

/* AlpineJS x-cloak attribute */
[x-cloak] { display: none !important; }

/* Show/hide table column */
[type="checkbox"] {
    box-sizing: border-box;
    padding: 0;
}

.form-checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
    display: inline-block;
    vertical-align: middle;
    background-origin: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    flex-shrink: 0;
    color: currentColor;
    background-color: #fff;
    border-color: #48b9d9;
    border-width: 1px;
    border-radius: 0.25rem;
    height: 1.5em;
    width: 1.5em;
}

/* Table Column Resize */
table {
    border-collapse: collapse;
    box-sizing: border-box;

    thead {
      tr {
        th {
          position: relative;
          user-select: none;

          &.resizing {

            & > .grip {
              border-right: 2px solid #c6d0f5;
            }
          }

          .grip {

            content: '&nbsp;';
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            width: 0.5rem;
            cursor: col-resize;
          }
        }
      }
    }
  }

.grip:hover {

    height: 0.5rem;
    border-right: 2px solid #2563eb;
}
